/* *, *::before, *::after allows us to select all elements on the page */
*, *::before, *::after {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-color: #008000;
    margin: 0;
    padding: 0;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator > button {
    background-color: #FFFFFF;
    border: 1px, solid #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.calculator > button:hover {
    background-color: #8a8a8a;
}