/* *, *::before, *::after allows us to select all elements on the page */
*, *::before, *::after {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-color: #008000;
    margin: 0;
    padding: 0;
}

/*Code for the calculator grid*/
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*Styling the buttons on the calculator*/
.calculator > button {
    background-color: #FFFFFF;
    border: 1px, solid #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.calculator > button:hover {
    background-color: #8a8a8a;
}

.clear-equals {
    grid-column: span 2;
}

/*This is the window where the solution of the math problem will be shown*/
.output{
    background-color: #000000;
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .output .previous-operand{
    color: #FFFFFF;
    font-size: 1.5rem;
  }

  .output .current-operand{
    color: #FFFFFF;
    font-size: 2.5rem;
  }